
<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" (click)="Logout()" *ngIf="userName">Logout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" *ngIf="userName">Hello, {{userName.FirstName}} {{userName.LastName}}!</a>
    </li>
</ul>