<p>contact works!</p>
<div class="container">
    <div class="row">
         <div class="col-md-6">
           <h4 class="alert alert-danger" *ngIf="validateError">{{validateError}}</h4>
            <form [formGroup]="Login" (ngSubmit)="Save(Login.value)">
                <div class="form-group" formGroupName="UserLogin">
                  <input type="text" class="form-control" placeholder="Enter Username" formControlName="UserName"
                         [class.is-valid]="Login.controls.UserLogin.controls.UserName.valid"
                         [class.is-invalid]="!Login.controls.UserLogin.controls.UserName.valid && submitted"
                  >
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Please choose a username
                  </div>
                </div>
                
                <div class="form-group" formGroupName="UserLogin">
                  <input type="password" class="form-control" placeholder="Enter Password" formControlName="Password"
                         [class.is-valid]="Login.controls.UserLogin.controls.Password.valid"
                         [class.is-invalid]="!Login.controls.UserLogin.controls.Password.valid && submitted"
                  >
                  <div class="valid-feedback">
                    Looks good :)!
                </div>
                <div class="invalid-feedback">
                   Make a password :(
                </div>
                </div>

              <button type="submit" class="btn btn-primary">Submit</button>
           </form>
        </div>
    </div>
</div>